<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>Hi, <%= @user.first_name %></h1>
        <p>Your login email is: <%= @user.email %></p>
        <p>Welcome to our Car Rental Service</p>
        <p>Pick car From Any City in India</p>
        <h4>Car is waiting for you </h4>
        <p>Thanks for joining and have a great day!</p>
    </body>
</html>